name: Deploy to EC2

on:
  push:
    branches:
      - main   # or any branch you want to trigger deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWSRestartDeployer   # specify environment 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2 Amazon Linux
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.EC2_HOST }} << 'EOF'
              cd /var/www/html
              sudo rm -rf restart-devops
              git clone https://github.com/fatimahaero/restart-devops.git
              rm -f /var/www/html/index.html
              cp /var/www/html/restart-devops/hello.html /var/www/html/index.html
              sudo rm -rf restart-devops
          EOF

          
